@{
    ViewData["Title"] = "Home Page";
}

 <!DOCTYPE html>
  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <title>Книжковий магазин</title>
 </head>
 <body>
     <div>
         <h3>База даних СБУ</h3>
         <table>
             <tr>
                 <td><p>Ім'я</p></td>
                 <td><p>Прізвище</p></td>
                 <td><p>Вік</p></td>
                 <td></td>
             </tr>
             @foreach (var b in ViewBag.Users)
             {
                 <tr>

                     <td><p>@b.FirstName</p></td>
                     <td><p>@b.LastName</p></td>
                     <td><p>@b.Age</p></td>
                     <td><p><a href="/Home/Details/@b.Id">Переглянути</a></p></td>
                 </tr>
             }
             </table>
         </div>
 </body>
</html>